<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create  Meo</title>
</head>
<body>
    <form action="http://localhost:3000/api/v1/meos" method="POST" enctype="multipart/form-data">
        <input name="name" type="text" placeholder="meo name">
        <br>
        <input name="weight" type="text" placeholder="meo weight">
        <br>
        <input name="avatar" type="file" placeholder="meo avatar">
        <br>
        <button type="submit">Add New Meo</button>
    </form>
</body>
</html>