<!DOCTYPE html>
<html>
<head>
<title>My Page</title>
</head>
<body>
<h1>Hello, World!</h1>
<ul>
    <% for (const user of users) { %>
        <li><%= user.name %></li>
    <% } %>
</ul>
</body>
</html>